body {background:grey;}
.main {
  background-color: #ffffff;
  border-radius:5px;
  color:black !important;
}

.alignleft {
  float: left;
  width:33.33333%;
  text-align:right;
}
.aligncenter {
  float: left;
  width:33.33333%;
  text-align:center;
}
.alignright {
 float: left;
 width:33.33333%;
 text-align:left;
}
.about .h2{line-height:2;}
hr {border-top : 2px solid rgba(38, 96, 166,.1)}
.social a {color:black;}
.social a:hover {text-decoration:none;color:#2c70c3;}